#multimedia-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

#multimedia-section img {
  width: 40%;
  padding-top: 42px;
  margin-left: 70px;
  display: flex;
  justify-content: end;
}

.multimedia-introduction-container {
  width: 55%;
  gap: 25px;
  display: flex;
  flex-direction: column;
  padding: 30px 10px 10px 40px;
}

.multimedia-introduction-container h2 {
  width: 60%;
  font-size: 1.8rem;
  text-align: center;
}

.multimedia-introduction-container p {
  width: 55%;
  font-size: 1rem;
}

.multimedia-introduction-container button {
  width: 200px;
  height: 36px;
  margin-left: 130px;
}
