#opinions-section {
  width: 100%;
  height: 100vh;
}

/* Estilos del contenedor del comentario */
.opinion-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 15px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.opinion-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.opinion-headerimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ccc;
}

.opinion-header h3 {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.opinion-header p {
  font-size: 0.95em;
  line-height: 1.5;
  color: #555;
  margin-top: 5px;
}
